<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<settings>
		<setting name="callSettersOnNulls" value="true"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias alias="User" type="com.mycom.happyhouse.dto.UserDto"/>
	</typeAliases>

     <mappers>
       	<mapper resource="mapper/user_query.xml" />
     	<mapper resource = "mapper/house-deal.xml"></mapper> 
     	<mapper resource = "mapper/notice_query.xml"></mapper>
     	<mapper resource = "mapper/store_query.xml"></mapper>
     	<mapper resource = "mapper/code_query.xml"></mapper>
     	
    </mappers>
        
</configuration>